*{
  margin: 0;
  padding: 0;
}

.nav-bar{
  display: flex;
  border: 1px black solid;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 15px;
 
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  text-align: center;

}

.item-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.shopping-cart-item{
  width: 200px;
  border: 1px solid black;
  
}