*{
  margin: 0;
  padding: 0;
}

.nav-bar{
  display: flex;
  border: 1px black solid;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 15px;
 
}

.item-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* .item-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.shopping-cart-item{
  width: 200px;
  border: 1px solid black;
  
}