*{
  margin: 0;
  padding: 0;
}

.nav-bar{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.item-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.shopping-cart-item{
  width: 200px;
 
  border: 1px solid black;
  
}